<div class="animated fadeIn">
    <div ng-controller="tapprovalCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="">{{ master}}</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <div class="col-md-3">
                                            <div class="input-group input-group-sm">
                                                <input class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions" ng-model="cari.periode" placeholder="Periode" type="text"/>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" ng-click="filterTanggal()" style="cursor: pointer">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input st-search="no_proposal" class="form-control form-control-sm" placeholder="No Proposal"/>
                                        </div>
                                        <div class="col-sm-3">
                                            <input st-search="m_lokasi_id" class="form-control form-control-sm" placeholder="Lokasi"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="acc_approval_pengajuan.status">
                                                <option value="">- Semua Status -</option>
                                                <option ng-value="Approved">Approved</option>
                                                <option ng-value="Rejected">Rejected</option>
                                                <option ng-value="Canceled">Canceled</option>
                                                <option ng-value="Terbayar">Terbayar</option>
                                                <option ng-value="">Pending</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="align-left">No Proposal</th>
                                <th class="align-left">Pemohon</th>
                                <th class="align-left">Lokasi</th>
                                <th class="align-left">Perihal</th>
                                <th class="align-left">Tanggal Pengajuan</th>
                                <th class="align-right">Total Dana</th>
                                <th class="align-center">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.no_proposal}}</td>
                                <td class="align-left">{{ row.created_formated}}</td>
                                <td class="align-left">{{ row.namaLokasi}}</td>
                                <td class="align-left">{{ row.perihal}}</td>
                                <td class="align-left">{{ row.tanggal | date:'dd-MM-yyyy' }} {{ row.created_at| date:'H:mm' }}</td>
                                <td class="align-right">{{ row.jumlah_perkiraan | number }}</td>
                                <td class="align-center">
                                    <span class="bg-primary p-1" ng-if="row.status == 'Approved'">{{ row.status}}</span>
                                    <span class="bg-danger p-1" ng-if="row.status == 'Canceled'">{{ row.status}}</span>
                                    <span class="bg-danger p-1" ng-if="row.status == 'Rejected'">{{ row.status}}</span>
                                    <span class="bg-warning p-1" ng-if="row.status == ''">Pending</span>
                                    <span class="bg-warning p-1" ng-if="row.status == 'Pending'">Pending</span>
                                    <span class="bg-success p-1" ng-if="row.status == 'Terbayar'">Terbayar</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group" ng-if="row.status != 'Rejected'">
                                        <button type="button" class="btn btn-info btn-sm" button-spinner="loading" ng-disabled="loading" ng-click="view(row)">
                                            <i class="fa fa-list"></i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm" ui-sref="keuangan.pengeluaran({no_proposal: row.no_proposal})" ng-if="row.status == 'Approved' && user.akses.pengajuan_pengeluaran">
                                            <i class="fa fa-dollar"></i>
                                            Bayar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">Lokasi</label>
                            <div class="col-sm-9">
                                <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_id" theme="bootstrap" ng-disabled="is_view">
                                    <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                    <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.kode + " - " + val.nama}}</ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm required">Tipe</label>
                            <div class="col-sm-9">
                                <div class="btn-group">
                                    <label class="btn btn-primary btn-sm ng-untouched ng-valid ng-not-empty active ng-dirty ng-valid-parse" ng-model="form.tipe" ng-disabled="is_view" uib-btn-radio="'Budgeting'">Budgeting</label>
                                    <label class="btn btn-primary btn-sm ng-untouched ng-valid ng-not-empty ng-dirty" ng-model="form.tipe" ng-disabled="is_view" uib-btn-radio="'Non Budgeting'">Non Budgeting</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">No Proposal</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.no_proposal" ng-disabled="true"/>
                            </div>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm required">Tanggal</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal')"  is-open="opened.tanggal" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" ng-disabled="is_view" datepicker-options="options"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">Perihal</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.perihal" ng-disabled="is_view || is_update" maxlength="65"/>
                            </div>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">Total Biaya</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rp</span>
                                    </div>
                                    <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" ng-model="form.jumlah_perkiraan" ng-disabled="true"  />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">Nama Kegiatan</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.dasar_pengajuan" ng-disabled="is_view || is_update"  />
                            </div>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">Lokasi & Waktu</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.lokasi_waktu" ng-disabled="is_view || is_update"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                            <h6 class="tittle-header">
                                <i class="fa fa-check-square-o"></i>
                                Catatan
                            </h6>
                        </div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">Penerima</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.penerima" ng-disabled="is_view || is_update"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">No Rekening</label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.norek" ng-disabled="is_view || is_update"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="form-group row col-md-6">
                            <label class="col-sm-3 col-form-label-sm">Catatan</label>
                            <div class="col-sm-9">
                                <textarea ng-model="form.catatan" class="form-control form-control-sm" ng-disabled="is_view || is_update"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                            <h6 class="tittle-header">
                                <i class="fa fa-check-square-o"></i>
                                Detail
                            </h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th class="align-center" width="200">Akun</th>
                                        <th class="align-center">Keterangan</th>
                                        <th class="align-center" width="100">Jenis Satuan</th>
                                        <th class="align-center" width="150">Harga Satuan</th>
                                        <th class="align-center" width="20">Jumlah</th>
                                        <th class="align-center" width="150">Sub Total</th>
                                        <th class="align-center" width="10" ng-if="user.akses.pengajuan_detail"></th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in listDetail">
                                        <td>
                                            <div>
                                                <ui-select class="ui-select-sm ui-select-container" ng-model="v.m_akun_id" theme="bootstrap" ng-disabled="form.status != ''">
                                                    <ui-select-match placeholder="Pilih Akun">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                                    <ui-select-choices repeat="val in akunDetail | filter : $select.search">{{ val.kode + " - " + val.nama}}</ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm" maxlength="255" ng-model="v.keterangan" ng-disabled="form.status != ''" placeholder="Uraian"/>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm" maxlength="255" ng-model="v.jenis_satuan" ng-change="sumTotal()" ng-disabled="form.status != ''"/>
                                        </td>
                                        <td class="align-left">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp</span>
                                                </div>
                                                <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" maxlength="11" ng-model="v.harga_satuan" ng-change="sumTotal()" ng-disabled="is_view"/>
                                            </div>
                                        </td>
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm angka rp" maxlength="11" ng-model="v.jumlah" ng-change="sumTotal()" ng-disabled="is_view"/>
                                        </td>
                                        <td class="align-left">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp</span>
                                                </div>
                                                <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" maxlength="11" ng-model="v.sub_total" ng-disabled="true"/>
                                            </div>
                                        </td>
                                        <td ng-if="user.akses.pengajuan_detail">
                                            <button type="button" class="btn btn-sm btn-info fa fa-list" ng-click="modalDetail(v, $index)" ng-if="v.detail.length > 0"></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-right">
                                            <b>Jumlah Uang</b>
                                        </td>
                                        <td>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rp</span>
                                                </div>
                                                <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" maxlength="11" ng-model="form.jumlah_perkiraan" ng-disabled="true"/>
                                            </div>
                                        </td>
                                        <td class="align-center" width="10" ng-if="user.akses.pengajuan_detail"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <hr/>
                            <h6 class="tittle-header">
                                <i class="fa fa-check-square-o"></i>
                                Detail Approval
                            </h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-center">User</th>
                                        <th class="align-center">Sebagai</th>
                                        <th class="align-center" width="20">Level</th>
                                        <th class="align-center" width="100">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in listAcc">
                                        <td class="align-left">
                                <ui-select class="ui-select-sm ui-select-container" ng-model="v.acc_m_user_id" theme="bootstrap" ng-disabled="is_view">
                                    <ui-select-match placeholder="Pilih User">{{ $select.selected.nama}}</ui-select-match>
                                    <ui-select-choices position="down" repeat="val in listUser | filter : $select.search">{{ val.nama}}</ui-select-choices>
                                </ui-select>
                                </td>
                                <td class="align-left">
                                    <input type="text" class="form-control form-control-sm" maxlength="255" ng-model="v.sebagai" ng-disabled="is_view"/>
                                </td>
                                <td class="align-left">
                                    <input type="text" class="form-control form-control-sm" maxlength="11" ng-model="v.level" ng-disabled="is_view"/>
                                </td>
                                <td class="align-center">
                                    <span class="bg-success p-1" ng-if="v.status == 'Approved'">Disetujui</span>
                                    <span class="bg-danger p-1" ng-if="v.status == 'Rejected'">Ditolak</span>
                                    <span class="bg-warning p-1" ng-if="v.status == 'Pending'">Pending</span>
                                    <span class="bg-primary p-1" ng-if="v.status == 'Terbayar'">Terbayar</span>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right btn btn-group">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-info btn-sm" button-spinner="loading" ng-disabled="loading" ng-click="modalBudget(form)" ng-if="form.levelapproval == form.level">
                        <i class="fa fa-list"></i>
                        &nbsp;Detail Budget
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm" button-spinner="loading" ng-disabled="loading" ng-click="save(form, 'rejected')" ng-if="form.levelapproval == form.level && (form.status == '' || form.status == 'Pending')">
                        <i class="fa fa-times"></i>
                        &nbsp;Tolak
                    </button>
                    <button type="submit" class="btn btn-success btn-sm" button-spinner="loading" ng-disabled="loading" ng-click="save(form, 'open')" ng-if="form.levelapproval == form.level && (form.status == '' || form.status == 'Pending')">
                        <i class="fa fa-check"></i>
                        &nbsp;Terima
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm" button-spinner="loading" ng-disabled="loading" ng-click="save(form, 'canceled')" ng-if="form.levelapproval == (form.level + 1) && form.status == 'Approved'">
                        <i class="fa fa-times"></i>
                        &nbsp;Batalkan
                    </button>
                    <button type="button" class="btn btn-success fa fa-dollar" ui-sref="keuangan.pengeluaran({no_proposal: form.no_proposal, bon_sementara: tidak})" ng-if="form.status == 'Approved' && user.akses.pengajuan_pengeluaran">
                        <span>Bayar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
