<div class="animated fadeIn">
    <div ng-controller="tutuptahunCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="">{{ master }}</strong>
                <div class="btn-group pull-right mt-5px d-lg-none" role="group">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" ng-click="create();">
                                <i class="fa fa-plus"></i>
                                &nbsp;Buat Tutup Tahun Baru
                            </button>
                        </div>
                    </div>
                </div>
                <div class="btn-group pull-right mt-5px d-md-down-none" role="group">
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Tutup Tahun Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0px">
                                        <label for="nama" class="col-sm-2 col-form-label-sm mb-0px">No Transaksi</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control form-control-sm" st-search="no_transaksi" id="no_transaksi" placeholder="No Transaksi"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Tahun</th>
                                <th style="text-align: left;">L / R</th>
                                <th style="text-align: left;">Dibuat Pada</th>
                                <th style="text-align: left;">Dibuat Oleh</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td style="text-align: left;">{{ row.tahun }}</td>
                                <td style="text-align: left;">{{ row.hasil_lr | currency }}</td>
                                <td style="text-align: left;">{{ row.created_at }}</td>
                                <td style="text-align: left;">{{ row.namaUser }}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtitle }}</strong>
            </div>
            <div class="card-body">
                <div class="alert alert-info text-center">
                    <strong>Perhatian!</strong>
                    Setelah proses tutup tahun. semua transaksi pada tahun ini akan dikunci dan hanya dapat diubah oleh kepala departemen.
                </div>
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label-sm required">Akun Ikhtisar L / R</label>
                                <div class="col-sm-6">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.akun_ikhtisar_id" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Akun">{{ $select.selected.kode + " - " + $select.selected.nama }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listAkun | filter : $select.search">{{ val.kode + " - " + val.nama }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label-sm required">Akun Pemindahan Modal</label>
                                <div class="col-sm-6">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.akun_pemindahan_modal_id" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Akun">{{ $select.selected.kode + " - " + $select.selected.nama }}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listAkun | filter : $select.search">{{ val.kode + " - " + val.nama }}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label-sm required">Tahun</label>
                                <div class="col-sm-6">
                                    <input ng-disabled="is_view" class="form-control form-control-sm" datepicker-mode="'year'" datepicker-options="{minMode: 'year', maxMode: 'year'}" is-open="opened.tgl" ng-click="toggle($event, 'tgl')" ng-model="form.tahun" placeholder="Tahun" type="text" uib-datepicker-popup="yyyy"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 content-center">
                            <button class="btn btn-primary btn-sm" ng-click="getDetail(form)">
                                <i class="fa fa-search"></i>
                                Tampilkan Detail Keuangan
                            </button>
                        </div>
                        <div class="col-md-12" ng-if="tampilkan">
                            <p>
                                <b>
                                    <i class="fa fa-check-square-o"></i>
                                    Detail Dana
                                </b>
                            </p>
                        </div>
                        <div class="col-md-12" ng-if="tampilkan">
                            <div>
                                <table class="table table-hover table-laporan-border">
                                    <thead>
                                        <tr>
                                            <th class="align-center">Nama Akun</th>
                                            <th class="align-center" width="15%">Debit</th>
                                            <th class="align-center" width="15%">Kredit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="3" style="text-align: left;font-weight: bold; background-color: #263544;">PENDAPATAN</th>
                                        </tr>
                                        <tr ng-repeat="detail in detail.PENDAPATAN.detail" ng-if="detail.is_tipe == 0">
                                            <td>
                                                <div ng-bind-html="detail.nama"></div>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0">{{ detail.nominal | number }}</span>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0"></span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="detail in detail.PENDAPATAN_DILUAR_USAHA.detail" ng-if="detail.is_tipe == 0">
                                            <td>
                                                <div ng-bind-html="detail.nama"></div>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0">{{ detail.nominal | number }}</span>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span style="margin-left: 50px"><b>{{form.akun_ikhtisar_id.kode}} - {{form.akun_ikhtisar_id.nama}}</b></span>
                                            </td>
                                            <td></td>
                                            <td class="text-right">{{detail.PENDAPATAN_DILUAR_USAHA.total + detail.PENDAPATAN.total * 1 | number}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="3" style="text-align: left;font-weight: bold; background-color: #263544;">BEBAN</th>
                                        </tr>
                                        <tr ng-repeat="detail in detail.BEBAN.detail" ng-if="detail.is_tipe == 0">
                                            <td>
                                                <div ng-bind-html="detail.nama" style="padding-left: 50px;"></div>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0"></span>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0">{{ detail.nominal | number }}</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="detail in detail.BEBAN_DILUAR_USAHA.detail" ng-if="detail.is_tipe == 0">
                                            <td>
                                                <div ng-bind-html="detail.nama" style="padding-left: 50px;"></div>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0"></span>
                                            </td>
                                            <td class="text-right">
                                                <span ng-if="detail.is_tipe == 0">{{ detail.nominal | number }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>{{form.akun_ikhtisar_id.kode}} - {{form.akun_ikhtisar_id.nama}}</b>
                                            </td>
                                            <td class="text-right">{{detail.BEBAN.total + detail.BEBAN_DILUAR_USAHA.total * 1 | number}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <th colspan="3" style="text-align: left;font-weight: bold; background-color: #263544;">Pemindahan Modal ( L / R )</th>
                                        </tr>
                                        <tr ng-repeat="val in jurnalPemindahan">
                                            <td>
                                                <span ng-if="val.kredit <= 0">{{ val.nama }}</span>
                                                <span ng-if="val.kredit > 0" style="padding-left: 50px">{{ val.nama }}</span>
                                            </td>
                                            <td class="text-right">{{ val.debit | number }}</td>
                                            <td class="text-right">{{ val.kredit | number }}</td>
                                        </tr>
                                        <tr ng-repeat="val in jurnalPrive">
                                            <td>
                                                <span ng-if="val.kredit <= 0">{{ val.nama }}</span>
                                                <span ng-if="val.kredit > 0" style="padding-left: 50px">{{ val.nama }}</span>
                                            </td>
                                            <td class="text-right">{{ val.debit | number }}</td>
                                            <td class="text-right">{{ val.kredit | number }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="app-footer" style="background-color: #29363d;left:0;bottom: 0;position: fixed;padding:10px 0px;width: 100%;padding-left: 20px;color: #fff;"ng-if="is_edit">
            <div class="col-md-10" style="padding: 0px;"></div>
            <div class="col-md-10">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
