<div class="animated fadeIn">
    <div ng-controller="l_jurnalumumCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Jurnal Umum</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input ng-change="clearData()" class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions" ng-model="form.tanggal" placeholder="Periode" type="text"/>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_transaksi_id" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.nama}}</ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listTransaksi | filter : $select.search">{{ val.nama}}</ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_id" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.nama_lengkap}}</ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-header card-header-white">
                <div class="pull-right">
                    <button class="btn btn-outline-success btn-sm" ng-click="view(1, 0)">
                        <i class="fa fa-file"></i>
                        Excel
                    </button>
                    <button class="btn btn-outline-primary btn-sm" ng-click="view(0, 1)">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </div>
            </div>
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row header-laporan-wrapper">
                        <div class="col-md-12 relative-div">
                            <center>
                                <img src="{{data.img}}" class="absolute-div-center" style="height: 90px">
                                <h2 class="header-laporan">{{data.lokasi}}</h2>
                                <h3 class="header-laporan">Laporan Jurnal Umum</h3>
                                <p class="mt-15px">Periode {{ data.tanggal}}</p>
                            </center>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-laporan-border" style="border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th width="80" class="align-center">
                                        <b>TANGGAL</b>
                                    </th>
                                    <th width="80" class="align-center">
                                        <b>REFF</b>
                                    </th>
                                    <th width="200" class="align-center">
                                        <b>LOKASI</b>
                                    </th>
                                    <th class="align-center">
                                        <b>NO. AKUN</b>
                                    </th>
                                    <th width="300" class="align-center">
                                        <b>AKUN</b>
                                    </th>
                                    <th class="align-center">
                                        <b>KETERANGAN</b>
                                    </th>
                                    <th width="100" class="align-center">
                                        <b>DEBIT</b>
                                    </th>
                                    <th width="100" class="align-center">
                                        <b>KREDIT</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="val in detail">
                                    <td align="center" class="text-center" style="vertical-align: top">{{ val.tanggal | date:'dd-MM-yyyy' }}</td>
                                    <td align="center" style="vertical-align: top">{{ val.kode}}</td>
                                    <td align="left" style="vertical-align: top">{{ val.namaLokasi}}</td>
                                    <td style="vertical-align: top">
                                        <span ng-if="val.debit == 0">{{ val.kodeAkun}}</span>
                                        <span ng-if="val.debit != 0">{{ val.kodeAkun}}</span>
                                    </td>
                                    <td style="vertical-align: top">
                                        <span style="margin-left:25px" ng-if="val.debit == 0">{{ val.namaAkun}}</span>
                                        <span ng-if="val.debit != 0">{{ val.namaAkun}}</span>
                                    </td>
                                    <td>{{ val.keterangan}}</td>
                                    <td align="right" class="text-right" style="vertical-align: top">{{ val.debit| number }}</td>
                                    <td align="right" class="text-right" style="vertical-align: top">{{ val.kredit| number }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td align="right" class="text-center" colspan="6">
                                        <b>Total</b>
                                    </td>
                                    <td align="right" class="text-right">
                                        <b>{{ data.total_debit| number }}</b>
                                    </td>
                                    <td align="right" class="text-right">
                                        <b>{{ data.total_kredit| number }}</b>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
