<div class="animated fadeIn">
    <div ng-controller="l_budgetingCtrl">
        <div class="card" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">{{master}}</strong>

            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <div class="">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label-sm required">Tahun</label>
                                        <div class="col-sm-3">
                                            <input class="form-control form-control-sm" datepicker-mode="'year'" datepicker-options="{minMode: 'year'}" is-open="opened.tgl" ng-click="toggle($event, 'tgl')" ng-model="form.tahun" placeholder="Tahun" type="text" uib-datepicker-popup="yyyy"/>

                                            <!--<input type="text" class="form-control form-control-sm align-left" ng-model="form.profesi" ng-disabled="is_view" required/>--> 
                                        </div>
                                        <label class="col-sm-2 col-form-label-sm required">Nama Akun</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm align-left" ng-model="form.nama" ng-disabled="is_view" required/> 
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 content-center">
                                            
                                            <button class="btn btn-primary btn-sm" ng-click="setLokasi(form)"><i class="fa fa-search"></i> Tampilkan</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>-->
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-body">
                <div class="row">
                            <div class="col-md-3">
                                <!--<img src="img/{{setting.logo}}" style="width: 100px; "/>-->
                            </div>
                            <div class="col-md-6">
                                <br/>
                                <center>
                                    <h2 class="header-laporan">
                                        LAPORAN BUDGETING
                                    </h2>
                                    Disiapkan Tanggal : {{disiapkan| date:'dd MMMM yyyy'}}
                                    <br/>
                                </center>
                            </div>
                            
                            <div class="col-md-3">
                                <button class="btn btn-success btn-sm pull-right" ng-click="exportExcel(form)">
                                    <i class="fa fa-file"></i>
                                    Excel
                                </button>
                                <button class="btn btn-warning btn-sm pull-right" ng-click="">
                                    <i class="fa fa-print"></i>
                                    Print
                                </button>
                            </div>
                        </div>
                <br>
                <div class="table-responsive" >
                    <table class="table table-striped table-hover table-laporan" width="100%">
                        <thead>
                            <tr>
                                <th style="text-align: left; vertical-align: middle" rowspan="2" width="30%">
                                    Nama
                                </th>
                                <th ng-repeat="val in bulan" style="text-align: center" colspan="2">{{val.bulan}}</th>
                            </tr>
                            <tr>
                                <th ng-repeat="vals in setiapbulan">{{vals.nama}}</th>
                            </tr>
                        </thead>

                        <tbody >
                            <tr ng-repeat="row in listAkun" ng-dblclick="view(row)">
                                <td style="text-align: left;">
                                    {{row.nama}}
                                </td>
                                <td ng-repeat="detail in row.detail">{{detail.nominal}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
