<div class="animated fadeIn">
    <div ng-controller="l_budgetingCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Budgeting</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" datepicker-mode="'year'" datepicker-options="{minMode: 'year'}" is-open="opened.tgl" ng-click="toggle($event, 'tgl')" ng-model="form.tahun" placeholder="Tahun" type="text" uib-datepicker-popup="yyyy"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_id" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.nama_lengkap}}</ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_akun_id" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Akun">{{ $select.selected.nama}}</ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listAkun | filter : $select.search">{{ val.nama}}</ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-header card-header-white">
                <div class="pull-right">
                    <button class="btn btn-outline-success btn-sm" ng-click="view(1, 0)">
                        <i class="fa fa-file"></i>
                        Excel
                    </button>
                    <button class="btn btn-outline-primary btn-sm" ng-click="view(0, 1)">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row header-laporan-wrapper">
                    <div class="col-md-12 relative-div">
                        <center>
                            <img src="{{data.img}}" class="absolute-div-center" style="height: 90px">
                            <h2 class="header-laporan">{{data.lokasi}}</h2>
                            <h3 class="header-laporan">Laporan Budgeting</h3>
                            <p class="mt-15px">Periode {{ data.tanggal}}</p>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" ng-repeat="row in detail">
                        <table class="table table-striped table-hover table-laporan" width="100%">
                            <tbody>
                                <tr style="background-color: #fff">
                                    <td colspan="3">
                                        <b>Nama Akun : </b> {{row.kode}} - {{row.nama}}
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: left; vertical-align: middle">Bulan</th>
                                    <th style="text-align: center" width="200">Target</th>
                                    <th style="text-align: center" width="200">Realisasi</th>
                                </tr>
                                <tr ng-repeat="det in row.detail">
                                    <td style="text-align: left;">{{ det.bulan}}</td>
                                    <td class="text-right">{{ det.target | currency }}</td>
                                    <td class="text-right">{{ det.realisasi | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
