<div class="animated fadeIn">
    <div ng-controller="akunpetaCtrl">
        <div class="card" ng-if="!isLoading">
            <div class="card-header">
                <strong>{{ master}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        
                        <div class="col-md-6" ng-repeat="val in displayed">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm required">{{val.type}}</label>
                                    <div class="col-sm-9">
                                        <ui-select class="ui-select-sm ui-select-container" ng-model="val.m_akun_id" theme="bootstrap" ng-disabled="is_view">
                                            <ui-select-match placeholder="Pilih Akun">
                                                {{$select.selected.kode +" - "+$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" repeat="val in akun | filter : $select.search">{{val.kode+" - "+val.nama}}</ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm required">Laba Rugi</label>
                                    <div class="col-sm-9">
                                        <ui-select class="ui-select-sm ui-select-container" ng-model="form.type" theme="bootstrap" ng-disabled="is_view">
                                            <ui-select-match placeholder="Pilih Akun">
                                                {{$select.selected.kode +" - "+$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" repeat="val in akun | filter : $select.search">{{val.kode+" - "+val.nama}}</ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-click="save()">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
