<div class="animated fadeIn">
    <div ng-controller="l_aruskasCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Arus Kas</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input ng-change="clearData()" class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions" ng-model="form.tanggal" placeholder="Periode" type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_id" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama }}</ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.kode + " - " + val.nama }}</ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-header card-header-white">
                <div class="btn-group pull-right">
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(1, 0)">
                        <i class="fa fa-file"></i>
                        Excel
                    </button>
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(0, 1)">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </div>
            </div>
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row header-laporan-wrapper">
                        <div class="col-md-12">
                            <center>
                                <h2 class="header-laporan">LAPORAN ARUS KAS</h2>
                                Lokasi : {{ data.lokasi }}
                                <br/>
                                Periode : {{ data.tanggal| date:'dd MMMM yyyy' }}
                                <br/>
                                Disiapkan Tanggal : {{ data.disiapkan| date:'dd MMMM yyyy, H:i' }}
                                <br/>
                            </center>
                            <hr/>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-laporan" style="border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>
                                        <b>AKUN</b>
                                    </th>
                                    <th width="100">
                                        <b>Saldo Akhir</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="val in detail">
                                <tr>
                                    <td align="left" style="vertical-align: top" colspan="2">
                                        <b>{{ val.nama }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="vertical-align: top">{{ val.nama }}</td>
                                    <td align="right" class="text-right" style="vertical-align: top">{{ val.saldo| number }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td align="left">
                                        <b>Total Arus Kas</b>
                                    </td>
                                    <td align="right" class="text-right">
                                        <b>{{ data.total_saldo| number }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <b>Saldo Awal</b>
                                    </td>
                                    <td align="right" class="text-right">
                                        <b>{{ data.total_saldo| number }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <b>Saldo Akhir</b>
                                    </td>
                                    <td align="right" class="text-right">
                                        <b>{{  }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <b>Penurunan / Kenaikan Kas</b>
                                    </td>
                                    <td align="right" class="text-right">
                                        <b>{{ data.total_saldo - data.saldo_awal| number }}</b>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
