
<div class="animated fadeIn">
    <div ng-controller="tutupbulanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="">{{master}}</strong>
                <div class="btn-group pull-right mt-5px d-lg-none" role="group">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                                <i class="fa fa-search"></i>
                                &nbsp;Pencarian
                            </button>
                            <button class="dropdown-item" ng-click="create();">
                                <i class="fa fa-plus"></i>
                                &nbsp;Buat Jurnal Umum Baru
                            </button>
                        </div>
                    </div>
                </div>
                <div class="btn-group pull-right mt-5px d-md-down-none" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Tutup Bulan Baru
                    </button>

                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0px">
                                        <label for="nama" class="col-sm-1 col-form-label-sm mb-0px">No Transaksi</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control form-control-sm" st-search="no_transaksi" id="no_transaksi" placeholder="No Transaksi"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: left;">
                                    Bulan, Tahun
                                </th>
                                <th style="text-align: left;">
                                    Dibuat Pada
                                </th>
                                <th style="text-align: left;">
                                    Dibuat Oleh
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>

                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td style="text-align: left;">
                                    {{row.bln_tahun}}
                                </td>
                                <td style="text-align: left;">
                                    {{row.created_at}}
                                </td>
                                <td style="text-align: left;">
                                    {{row.namaUser}}
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="permission && $index == displayed.length - 1" ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtitle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm required">Bulan</label>
                                    <div class="col-sm-9">
                                        <input ng-disabled="true" class="form-control form-control-sm" datepicker-mode="'year'" datepicker-options="{minMode: 'month', maxMode: 'year'}" is-open="opened.tgl" ng-click="toggle($event, 'tgl')" ng-model="form.bulan" placeholder="Tahun" type="text" uib-datepicker-popup="MMMM yyyy"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p>
                                <b><i class="fa fa-check-square-o"></i> Detail Dana</b>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div align="left">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-laporan">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="text-align: center">
                                                    <b>
                                                        AKUN
                                                    </b>
                                                </th>
                                                <th colspan="2" style="text-align: center">
                                                    <b>
                                                        SALDO AWAL
                                                    </b>
                                                </th>
                                                <th colspan="2" style="text-align: center">
                                                    <b>
                                                        MUTASI
                                                    </b>
                                                </th>
                                                <th colspan="2" style="text-align: center">
                                                    <b>
                                                        SALDO AKHIR
                                                    </b>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th width="100">
                                                    <b>
                                                        DEBIT
                                                    </b>
                                                </th>
                                                <th width="100">
                                                    <b>
                                                        KREDIT
                                                    </b>
                                                </th>
                                                <th width="100">
                                                    <b>
                                                        DEBIT
                                                    </b>
                                                </th>
                                                <th width="100">
                                                    <b>
                                                        KREDIT
                                                    </b>
                                                </th>
                                                <th width="100">
                                                    <b>
                                                        DEBIT
                                                    </b>
                                                </th>
                                                <th width="100">
                                                    <b>
                                                        KREDIT
                                                    </b>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="val in detail">
                                                <td>
                                                    <span ng-bind-html="val.nama"></span>
                                                </td>
                                                <td align="right" class="text-right">
                                                    {{val.debit_awal| number}}
                                                </td>
                                                <td align="right" class="text-right">
                                                    {{val.kredit_awal| number}}
                                                </td>
                                                <td align="right" class="text-right">
                                                    {{val.debit| number}}
                                                </td>
                                                <td align="right" class="text-right">
                                                    {{val.kredit| number}}
                                                </td>
                                                <td align="right" class="text-right">
                                                    <span ng-if="val.debit_akhir >= 0">{{val.debit_akhir| number}}</span>
                                                    <span ng-if="val.debit_akhir < 0">{{val.debit_akhir * -1| number}}</span>
                                                </td>
                                                <td align="right" class="text-right">
                                                    <span ng-if="val.kredit_akhir >= 0">{{val.kredit_akhir| number}}</span>
                                                    <span ng-if="val.kredit_akhir < 0">{{val.kredit_akhir * -1| number}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td align="right" class="text-center">
                                                    <b>
                                                        Saldo Akhir
                                                    </b>
                                                </td>
                                                <td align="right" class="text-right">
                                                    <b>
                                                        {{data.debit_awal| number}}
                                                    </b>
                                                </td>
                                                <td align="right" class="text-right">
                                                    <b>
                                                        {{data.kredit_awal| number}}
                                                    </b>
                                                </td>
                                                <td align="right" class="text-right">
                                                    <b>
                                                        {{data.debit_mutasi| number}}
                                                    </b>
                                                </td>
                                                <td align="right" class="text-right">
                                                    <b>
                                                        {{data.kredit_mutasi| number}}
                                                    </b>
                                                </td>
                                                <td align="right" class="text-right">
                                                    <b>
                                                        {{data.debit_akhir| number}}
                                                    </b>
                                                </td>
                                                <td align="right" class="text-right">
                                                    <b>
                                                        {{data.kredit_akhir| number}}
                                                    </b>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>



                </form>
            </div>
        </div>
        <div class="app-footer" style="background-color: #29363d;left:0;bottom: 0;position: fixed;padding:10px 0px;width: 100%;padding-left: 20px;color: #fff;"ng-if="is_edit">
            <div class="col-md-10" style="padding: 0px;">
            </div>  
            <div class="col-md-10">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="total_debit != total_kredit || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
