<div class="modal-header">
    <h5 class="modal-title">Detail</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="align-center" style="width: 10px;">
                            <button type="button" class="btn btn-sm btn-success fa fa-plus" ng-click="addDetail(listDetail)" ng-disabled="is_view || lihatDariApprove"></button>
                        </th>
                        <th class="align-left">Keterangan</th>
                        <th class="align-left" width="150">Budget</th>
                        <th class="align-left" width="150" ng-if="user.akses.pengajuan_realisasi">Realisasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="v in listDetail">
                        <td class="align-center">
                            <button type="button" class="btn btn-sm btn-danger fa fa-minus" ng-click="removeDetail(listDetail)" ng-disabled="is_view || lihatDariApprove"></button>
                        </td>
                        <td class="align-left">
                            <input type="text" class="form-control form-control-sm" maxlength="255" ng-model="v.keterangan" ng-disabled="is_view || lihatDariApprove" placeholder="Keterangan"/>
                        </td>
                        <td class="align-left">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rp</span>
                                </div>
                                <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" maxlength="11" ng-model="v.budget" ng-change="sumTotal()" ng-disabled="is_view || lihatDariApprove"/>
                            </div>
                        </td>
                        <td class="align-left" ng-if="user.akses.pengajuan_realisasi">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rp</span>
                                </div>
                                <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" maxlength="11" ng-model="v.realisasi" ng-disabled="(status != 'Terbayar' && status != 'Approved') || lihatDariApprove"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">Total Pengajuan</td>
                        <td>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rp</span>
                                </div>
                                <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" maxlength="11" ng-model="form.sub_total" ng-disabled="true"/>
                            </div>
                        </td>
                        <td ng-if="user.akses.pengajuan_realisasi"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer" ng-if="!lihatDariApprove">
    <button class="btn btn-primary btn-sm" ng-click="save()">
        <i class="fa fa-save"></i>
        Simpan
    </button>
</div>
