<div class="animated fadeIn">
    <div ng-controller="transferCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="">{{ master}}</strong>
                <div class="btn-group pull-right mt-5px d-lg-none" role="group">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" ng-click="create();" ng-if="user.akses.transfer_kas_create">
                                <i class="fa fa-plus"></i>
                                &nbsp;Buat Transfer Baru
                            </button>
                            <button class="dropdown-item" ng-click="is_setting = !is_setting" ng-if="is_setting_field">
                                <i class="fa fa-gear"></i>
                                &nbsp;Setting Field
                            </button>
                        </div>
                    </div>
                </div>
                <div class="btn-group pull-right mt-5px d-md-down-none" role="group">
                    <button class="btn btn-transparan btn-sm" ng-click="is_setting = !is_setting" ng-if="is_setting_field">
                        <i class="fa fa-gear"></i>
                        &nbsp;Setting Field
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();" ng-if="user.akses.transfer_kas_create">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Transfer Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12" ng-if="!is_setting">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0px">
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control form-control-sm" st-search="no_transaksi" id="no_transaksi" placeholder="No Transaksi"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="m_lokasi_asal_id">
                                                <option value="">- Semua Lokasi Asal -</option>
                                                <option ng-repeat="val in listLokasi" ng-value="val.id">{{ val.nama_lengkap}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="m_lokasi_tujuan_id">
                                                <option value="">- Semua Lokasi Tujuan -</option>
                                                <option ng-repeat="val in listLokasi" ng-value="val.id">{{ val.nama_lengkap}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-{{classrow}}" ng-if="is_setting" ng-repeat="a in startFrom">
                            <div class="form-group row">
                                <div class="col-sm-12" ng-repeat="(key, val) in field | limitTo:a.limit:a.start">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><input type="checkbox" ng-model="val.checkbox"></span>
                                            <span class="input-group-text">{{val.no + 1}}</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm input-{{val.no}}" ng-model="val.alias" ng-keyup="setPosition($event, val.no, val)"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="is_setting">
                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <div class="btn-group">
                                        <span class="input-group-text"><input type="checkbox" ng-model="checklist" ng-click="fillCheckBox(this.checklist)"></span>
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="savePosition()"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" ng-if="is_setting_field">
                        <thead>
                            <tr>
                                <th class="align-left" ng-repeat="(key, val) in field" ng-if="val.checkbox">
                                    {{val.alias}}
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left" ng-repeat="val in field" ng-if="val.checkbox">
                                    <span ng-if="row[val.value].length == undefined">{{ row[val.value].nama}}</span>
                                    <span ng-if="row[val.value].length != undefined">{{ row[val.value]}}</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="(row.status == 'Draft' && row.tanggal >= tanggal_setting) || (row.status == 'Terposting' && user.akses.transfer_kas_update)"  ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="(row.status == 'Draft' && row.tanggal >= tanggal_setting) || (row.status == 'Terposting' && user.akses.transfer_kas_delete)" ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover" ng-if="!is_setting_field">
                        <thead>
                            <tr>
                                <th class="align-left">No Transaksi</th>
                                <th class="align-left">Akun Asal</th>
                                <th class="align-left">Akun Tujuan</th>
                                <th class="align-right">Total</th>
                                <th class="align-left">Tanggal</th>
                                <th class="align-left">Dibuat Pada</th>
                                <th class="align-left">Dibuat Oleh</th>
                                <th class="align-center">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.no_transaksi}}</td>
                                <td class="align-left">{{ row.namaAsal}}</td>
                                <td class="align-left">{{ row.namaTujuan}}</td>
                                <td class="align-right">{{ row.total | number }}</td>
                                <td class="align-left">{{ row.tanggal_formated}}</td>
                                <td class="align-left">{{ row.created_at}}</td>
                                <td class="align-left">{{ row.namaUser}}</td>
                                <td class="align-center">
                                    <span class="bg-success p-1" ng-if="row.status == 'Terposting'">{{ row.status}}</span>
                                    <span class="bg-info p-1" ng-if="row.status == 'Draft'">{{ row.status}}</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <!-- <button type="button" class="btn btn-primary fa fa-print" ng-click="modalVoucher(row)"></button> -->
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="(row.status == 'Draft' && row.tanggal >= tanggal_setting) || (row.status == 'Terposting' && user.akses.transfer_kas_update)"  ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="(row.status == 'Draft' && row.tanggal >= tanggal_setting) || (row.status == 'Terposting' && user.akses.transfer_kas_delete)" ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtitle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="tittle-header">Pengirim</h6>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Lokasi</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_asal_id" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.nama_lengkap}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Akun Group</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_akun_group_asal_id" theme="bootstrap" ng-disabled="is_view" on-select="form.m_akun_asal_id = undefined; getAkunKasAsal()">
                                        <ui-select-match placeholder="Pilih Akun Group">{{ $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listAkunGroup | filter : $select.search">{{ val.nama}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Akun</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm" ng-model="form.m_akun_asal_id" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Akun">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices repeat="val in akunAsal | filter : $select.search">{{ val.kode + " - " + val.nama}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6 class="tittle-header">Penerima</h6>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Lokasi</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_tujuan_id" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.nama_lengkap}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Akun Group</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_akun_group_tujuan_id" theme="bootstrap" ng-disabled="is_view" on-select="form.m_akun_tujuan_id = undefined; getAkunKasTujuan()">
                                        <ui-select-match placeholder="Pilih Akun Group">{{ $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listAkunGroup | filter : $select.search">{{ val.nama}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Akun</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm" ng-model="form.m_akun_tujuan_id" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Akun">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices repeat="val in akunTujuan | filter : $select.search">{{ val.kode + " - " + val.nama}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail</h6>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">Tanggal</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal')"  is-open="opened.tanggal" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" datepicker-options="options" ng-disabled="is_view"/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">Nominal</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Rp</span>
                                        </div>
                                        <input type="text" ui-number-mask="0" class="form-control form-control-sm angka rp" ng-disabled="is_view" ng-model="form.total"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm">Keterangan</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control form-control-sm" rows="4" ng-model="form.keterangan"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right btn">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-success btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="form.total_debit != form.total_kredit || loading" ng-click="save(form, 'draft')">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan Draft
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="form.total_debit != form.total_kredit || loading" ng-click="save(form, 'terposting')">
                        <i class="fa fa-check"></i>
                        &nbsp;Simpan & Posting
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
