<div class="animated fadeIn">
    <div ng-controller="akunCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong>Master Akun</strong>
                <div class="btn-group pull-right mt-5px d-lg-none" role="group">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button accept=".xls" class="dropdown-item" ngf-select="uploadFiles($file, $invalidFiles)" type="file">
                                <i class="fa fa-upload"></i>
                                &nbsp;Import
                            </button>
                            <button class="dropdown-item" ng-click="export();">
                                <i class="fa fa-download"></i>
                                &nbsp;Unduh Format
                            </button>
                            <button class="dropdown-item" ng-click="create();">
                                <i class="fa fa-plus"></i>
                                &nbsp;Buat Akun Baru
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pull-right mt-5px d-md-down-none" role="group">
                    <button accept=".xls" class="btn btn-transparan btn-sm" ngf-select="uploadFiles($file, $invalidFiles)" type="file">
                        <i class="fa fa-upload"></i>
                        &nbsp;Import
                    </button>
                    <button class="btn btn-transparan btn-sm" ng-click="export();">
                        <i class="fa fa-download"></i>
                        &nbsp;Unduh Format
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Akun Baru
                    </button>
                    <button class="btn btn-success btn-sm" ng-click="exportIndex(filter);">
                        <i class="far fa-file-excel"></i>
                        &nbsp;Export Excel
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0px">
                                        <label class="col-md-1 col-form-label-sm mb-0px">Grup</label>
                                        <div class="col-md-2">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="filter.group" theme="bootstrap" on-select="cancel()">
                                                <ui-select-match placeholder="Pilih Grup">{{ $select.selected.nama}}</ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listGroupAkun | filter : $select.search">{{ val.nama}}</ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <label for="kode" class="col-md-1 col-form-label-sm mb-0px">Kode</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control form-control-sm" st-search="kode" id="kode" placeholder="Kode" ng-model="filter.kode"/>
                                        </div>
                                        <label for="nama" class="col-md-1 col-form-label-sm mb-0px">Nama</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control form-control-sm" st-search="nama" id="nama" placeholder="Nama" ng-model="filter.nama"/>
                                        </div>
                                        <label class="col-md-1 col-form-label-sm mb-0px">Status</label>
                                        <div class="col-md-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted" ng-model="filter.is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right" style="margin-bottom: 10px;">
                        <label class="i-checks">
                            <input ng-disabled="is_view" ng-model="SembunyikanSub" ng-true-value="1" ng-false-value="0" type="checkbox"/>
                            <i></i>
                            Sembunyikan Sub Akun
                        </label>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-mobile">
                        <thead>
                            <tr>
                                <th style="text-align: left;" scope="col">Kode Akun</th>
                                <th style="text-align: left;" scope="col" width="200">Tipe Klasifikasi</th>
                                <th style="text-align: left;" scope="col" width="150">Debit</th>
                                <th style="text-align: left;" scope="col" width="150">Kredit</th>
                                <th style="text-align: left;" scope="col" width="150">Tipe Arus</th>
                                <th width="80"></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)" ng-hide="SembunyikanSub == 1 && row.is_tipe == 0" ng-style="row.is_tipe == 1 && {'background-color': '#f2f7fb'}">
                                <td style="text-align: left;">
                                    <span ng-if="row.is_tipe == 1">
                                        <b>
                                            <div ng-bind-html="row.nama_lengkap"></div>
                                        </b>
                                    </span>
                                    <span ng-if="row.is_tipe == 0">
                                        <div ng-bind-html="row.nama_lengkap"></div>
                                    </span>
                                    <span ng-if="row.is_deleted == 1">(dihapus pada {{ row.tgl_nonaktif| date: "dd MMM yyyy" }})</span>
                                </td>
                                <td class="align-left">{{ row.tipe}}</td>
                                <td style="text-align: right;">
                                    <span ng-if="row.is_tipe == 1 && row.saldo >= 0">
                                        <b>{{ row.saldo|number }}</b>
                                    </span>
                                    <span ng-if="row.is_tipe == 0 && row.saldo >= 0">{{ row.saldo|number }}</span>
                                </td>
                                <td style="text-align: right;">
                                    <span ng-if="row.is_tipe == 1 && row.saldo < 0">
                                        <b>{{ row.saldo|number }}</b>
                                    </span>
                                    <span ng-if="row.is_tipe == 0 && row.saldo < 0">{{ row.saldo|number }}</span>
                                </td>
                                <td style="text-align: left;">{{ row.tipe_arus}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-success fa fa-list" ng-if="row.is_deleted == 0" ng-click="viewBukuBesar(row)"></button>
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0 && row.saldo == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtitle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-sm required">Tipe Klasifikasi</label>
                                <div class="col-md-9">
                                    <select class="form-control form-control-sm" ng-disabled="is_view" ng-model="form.tipe" ng-change="getAkun()">
                                        <option value="">- Pilih Tipe -</option>
                                        <option value="HARTA">HARTA</option>
                                        <option value="KEWAJIBAN">KEWAJIBAN</option>
                                        <option value="MODAL">MODAL</option>
                                        <option value="PENDAPATAN">PENDAPATAN</option>
                                        <option value="PENDAPATAN DILUAR USAHA">PENDAPATAN DILUAR USAHA</option>
                                        <option value="BEBAN">BEBAN</option>
                                        <option value="BEBAN DILUAR USAHA">BEBAN DILUAR USAHA</option>
                                        <option value="BIAYA">BIAYA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Lokasi</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_id" on-select="lokasi($select.selected)" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.nama_lengkap}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Grup</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_akun_group" theme="bootstrap" on-select="getAkun()">
                                        <ui-select-match placeholder="Pilih Grup">{{ $select.selected.nama}}</ui-select-match>
                                        <ui-select-choices position="down" repeat="val in listGroupAkun | filter : $select.search">{{ val.nama}}</ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="i-checks col-md-3 col-form-label-sm">
                                    <input ng-disabled="is_view" ng-model="form.is_induk" ng-true-value="0" ng-false-value="1" type="checkbox"/>
                                    <i></i>
                                    Sub Akun
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control form-control-sm" ng-change="getakun(form.parent_id)" ng-if="form.is_induk == 0" ng-disabled="is_view" ng-model="form.parent_id">
                                        <option value="">- Pilih Akun Induk -</option>
                                        <option ng-repeat="value in dataakun" ng-selected="value.id == form.parent_id" ng-value="{{ value.id}}" ng-hide="!is_create && value.level > form.level">{{ value.kode}} - {{ value.nama}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-sm required">Kode Akun</label>
                                <div class="col-md-9">
                                    <div class="input-group input-group-sm" ng-if="form.is_induk == 0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ form.kode_induk}}</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm angka align-left" ng-model="form.kode" ng-disabled="is_view"/>
                                    </div>
                                    <input type="text" class="form-control form-control-sm angka align-left" ng-if="form.is_induk == 1" ng-model="form.kode" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label-sm required">Nama Akun</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-show="form.tipe == 'HARTA'">
                                <label class="col-md-3 col-form-label-sm required">Set Akun Kas</label>
                                <div class="col-md-3">
                                    <div class="btn-group">
                                        <label class="btn btn-primary btn-sm ng-untouched ng-valid ng-not-empty active ng-dirty ng-valid-parse" ng-model="form.is_kas" ng-disabled="is_view" uib-btn-radio="1">Ya</label>
                                        <label class="btn btn-primary btn-sm ng-untouched ng-valid ng-not-empty ng-dirty" ng-model="form.is_kas" ng-disabled="is_view" uib-btn-radio="0">Tidak</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.is_tipe == 1">
                                <label class="col-md-3 col-form-label-sm">Tipe Arus Kas</label>
                                <div class="col-md-9">
                                    <select class="form-control form-control-sm" id="tipearus" ng-disabled="is_view" ng-model="form.tipe_arus">
                                        <option value="">- Tidak digunakan sebagai arus kas -</option>
                                        <option value="Aktivitas Operasi">Aktivitas Operasi</option>
                                        <option value="Investasi">Investasi</option>
                                        <option value="Pendanaan">Pendanaan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek <= 3 || loading || form.status_kode == 0" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
