<link href="{{ css}}" rel="stylesheet" type="text/css"/>
<div class="card-body">
    <div class="row header-laporan-wrapper">
        <div class="col-md-12 relative-div">
            <center>
                <img src="{{img}}" class="absolute-div-center" style="width:200px">
                <h2 class="header-laporan">{{lokasi}}</h2>
                <h3 class="header-laporan">Laporan Arus Kas</h3>
                <p style="margin-top:3px">Periode {{tanggal}} & {{tanggal2}}</p> 
                <!--<br/>-->
            </center>
            <!--<hr/>-->
        </div>
    </div><br/>
    <div class="table-responsive">
        <table class="table table-laporan-border" style="border-collapse: collapse;width:100%">
            <thead>
                <tr align="center" class="non-body">
                    <th>
                        <span class="text-blue-neraca"></span>
                    </th>
                    <th>
                        <span class="text-blue-neraca">{{tanggal}}</span>
                    </th>
                    <th>
                        <span class="text-blue-neraca">{{tanggal2}}</span>
                    </th>
                    <th>
                        <span class="text-blue-neraca">Net Charge</span>
                    </th>
                </tr>
            </thead>
            <tr class="non-body">
                <th colspan="4" align="left" class="non-body">
                    <span class="text-blue-neraca">Harta</span>
                </th>
            </tr>
            {% for key, val in modelHarta.list %}
            <tbody>
                {%if is_detail == 0%}
                <tr ng-if="form.is_detail == 0">
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;font-weight:700">{{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        {%if val.total >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td style="text-align: right">
                        {%if val.total2 >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    </td>
                    <td style="text-align: right">
                        {%if (val.total-val.total2) >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ (val.total - val.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ ((val.total - val.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    
                    </td>
                </tr>
                {%endif%}
                {%if is_detail == 1%}
                <tr>
                    <td colspan="4" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;font-weight:700">{{ val.nama}}</span>
                    </td>
                </tr>

                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important;">{{ row.kode}} - {{row.nama}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if row.saldo_rp >= 0%}
                        <span>Rp{{ row.saldo_rp | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ (row.saldo_rp * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if row.saldo_rp2 >= 0%}
                        <span>Rp{{ row.saldo_rp2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ (row.saldo_rp2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if (row.saldo_rp-row.saldo_rp2) >= 0%}
                        <span>Rp{{ (row.saldo_rp - row.saldo_rp2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ ((row.saldo_rp - row.saldo_rp2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important;font-weight: 700">Total {{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        {%if val.total >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td style="text-align: right">
                        {%if val.total2 >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    </td>
                    <td style="text-align: right">
                        {%if (val.total-val.total2) >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ (val.total - val.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ ((val.total - val.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    
                    </td>
                </tr>
                {%endif%}
            </tbody>
            {% endfor %}
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-black-neraca">Total Harta</span>
                    </th>
                    <th style="text-align: right">
                        {%if modelHarta.total >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelHarta.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelHarta.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if modelHarta.total2 >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelHarta.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelHarta.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if (modelHarta.total-modelHarta.total2) >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ (modelHarta.total - modelHarta.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ ((modelHarta.total - modelHarta.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                </tr>
            </tbody>
            <tbody>
                <tr class="non-body">
                    <th colspan="4" align="left">
                        <span class="text-blue-neraca">Kewajiban</span>
                    </th>
                </tr>
            </tbody>
            {% for key, val in modelKewajiban.list %}
            <tbody >
                {%if is_detail == 0%}
                <tr ng-if="form.is_detail == 0">
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;font-weight:700">{{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        {%if val.total >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td style="text-align: right">
                        {%if val.total2 >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    </td>
                    <td style="text-align: right">
                        {%if (val.total-val.total2) >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ (val.total - val.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ ((val.total - val.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    
                    </td>
                </tr>
                {%endif%}
                {%if is_detail == 1%}
                <tr>
                    <td colspan="4" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;font-weight:700">{{ val.nama}}</span>
                    </td>
                </tr>
                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important;">{{ row.kode}} - {{row.nama}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if row.saldo_rp >= 0%}
                        <span>Rp{{ row.saldo_rp | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ (row.saldo_rp * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if row.saldo_rp2 >= 0%}
                        <span>Rp{{ row.saldo_rp2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ (row.saldo_rp2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if (row.saldo_rp-row.saldo_rp2) >= 0%}
                        <span>Rp{{ (row.saldo_rp - row.saldo_rp2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ ((row.saldo_rp - row.saldo_rp2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important;font-weight: 700">Total {{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        {%if val.total >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td style="text-align: right">
                        {%if val.total2 >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    </td>
                    <td style="text-align: right">
                        {%if (val.total-val.total2) >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ (val.total - val.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ ((val.total - val.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    
                    </td>
                </tr>
                {%endif%}
            </tbody>
            {% endfor %}
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-blue-neraca">Total Kewajiban</span>
                    </th>
                    <th style="text-align: right">
                        {%if modelKewajiban.total >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelKewajiban.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelKewajiban.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if modelKewajiban.total2 >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelKewajiban.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelKewajiban.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if (modelKewajiban.total-modelKewajiban.total2) >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ (modelKewajiban.total - modelKewajiban.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ ((modelKewajiban.total - modelKewajiban.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                </tr>
            </tbody>
            <tbody>
                <tr class="non-body">
                    <th colspan="4" align="left">
                        <span class="text-blue-neraca">Modal</span>
                    </th>
                </tr>
            </tbody>
            {% for key, val in modelModal.list %}
            <tbody>
                {%if is_detail == 0%}
                <tr ng-if="form.is_detail == 0">
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;font-weight:700">{{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        {%if val.total >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td style="text-align: right">
                        {%if val.total2 >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    </td>
                    <td style="text-align: right">
                        {%if (val.total-val.total2) >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ (val.total - val.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ ((val.total - val.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    
                    </td>
                </tr>
                {%endif%}
                {%if is_detail == 1%}
                <tr>
                    <td colspan="4" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;font-weight:700">{{ val.nama}}</span>
                    </td>
                </tr>
                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important;">{{ row.kode}} - {{row.nama}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if row.saldo_rp >= 0%}
                        <span>Rp{{ row.saldo_rp | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ (row.saldo_rp * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if row.saldo_rp2 >= 0%}
                        <span>Rp{{ row.saldo_rp2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ (row.saldo_rp2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if (row.saldo_rp-row.saldo_rp2) >= 0%}
                        <span>Rp{{ (row.saldo_rp - row.saldo_rp2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span>(Rp{{ ((row.saldo_rp - row.saldo_rp2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important;font-weight: 700">Total {{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        {%if val.total >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </td>
                    <td style="text-align: right">
                        {%if val.total2 >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ val.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ (val.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    </td>
                    <td style="text-align: right">
                        {%if (val.total-val.total2) >= 0%}
                        <span style="color: #0055ef; font-weight: 700">Rp{{ (val.total - val.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span style="color: #0055ef; font-weight: 700">(Rp{{ ((val.total - val.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}                    
                    </td>
                </tr>
                {%endif%}
            </tbody>
            {% endfor %}
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-blue-neraca">Total Modal</span>
                    </th>
                    <th style="text-align: right">
                        {%if modelModal.total >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelModal.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelModal.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if modelModal.total2 >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelModal.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelModal.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if (modelModal.total-modelModal.total2) >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ (modelModal.total - modelModal.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ ((modelModal.total - modelModal.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                </tr>
            </tbody>
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-black-neraca">Total Kewajiban dan Modal</span>
                    </th>
                    <th style="text-align: right">
                        {%if modelKewajibanModal.total >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelKewajibanModal.total | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelKewajibanModal.total * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if modelKewajibanModal.total2 >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ modelKewajibanModal.total2 | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ (modelKewajibanModal.total2 * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                    <th style="text-align: right">
                        {%if (modelKewajibanModal.total-modelKewajibanModal.total2) >= 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ (modelKewajibanModal.total - modelKewajibanModal.total2) | number_format(0, ',', '.')}}</span>
                        {%else%}
                        <span class="text-black-neraca"  style="font-weight: bold;">(Rp{{ ((modelKewajibanModal.total - modelKewajibanModal.total2) * -1) | number_format(0, ',', '.')}})</span>
                        {%endif%}
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>