<link href="{{ css }}" rel="stylesheet" type="text/css"/>
<div class="card-body" id="print">

    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h2 class="header-laporan">{{data.lokasi}}</h2>
                    <h3 class="header-laporan">Laporan Arus Kas</h3>
                    <p style="margin-top:3px">Periode {{data.tanggal}}</p>
                    <!--<br/>-->
                </center>
                <!--<hr/>-->
            </div>

        </div>
        <br/>
        <div>

            <div class="">
                <table class="table table-hover table-laporan-border" style="border-collapse: collapse;">
                    <tr class="non-body">

                        <th>
                            <b>
                                AKUN
                            </b>
                        </th>

                        <th width="100">
                            <b>
                                Saldo Akhir
                            </b>
                        </th>
                    </tr>

                    <tbody>
                        <tr>
                            <td align="left" style="vertical-align: top" colspan="2">
                                <b>Pendanaan</b>
                            </td>
                        </tr>
                    </tbody>
                    {%for key, val in detail['Aktivitas Operasi']%}
                    <tbody>

                        <tr>
                            <td align="left" style="vertical-align: top; font-weight: bold" colspan="2">{{ val.kode }} - {{ val.nama }}</td>
                        </tr>
                        {%for vals in val.detail%}
                        <tr>
                            <td align="left" style="vertical-align: top"><span style="margin-left:50px">{{ vals.nama}}</span></td>
                            <td align="right" class="text-right" style="vertical-align: top">{{vals.saldo}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    {%endfor%}
                    <tbody>
                        <tr>
                            <td align="left" style="vertical-align: top" colspan="2">
                                <b>Investasi</b>
                            </td>
                        </tr>
                    </tbody>
                    {%for key, val in detail['Investasi']%}
                    <tbody>

                        <tr>
                            <td align="left" style="vertical-align: top; font-weight: bold" colspan="2">{{ val.kode }} - {{ val.nama }}</td>
                        </tr>
                        {%for vals in val.detail%}
                        <tr>
                            <td align="left" style="vertical-align: top"><span style="margin-left:50px">{{ vals.nama}}</span></td>
                            <td align="right" class="text-right" style="vertical-align: top">{{vals.saldo}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    {%endfor%}
                    <tbody>
                        <tr>
                            <td align="left" style="vertical-align: top" colspan="2">
                                <b>Pendanaan</b>
                            </td>
                        </tr>
                    </tbody>
                    {%for key, val in detail['Pendanaan']%}
                    <tbody>

                        <tr>
                            <td align="left" style="vertical-align: top; font-weight: bold" colspan="2">{{ val.kode }} - {{ val.nama }}</td>
                        </tr>
                        {%for vals in val.detail%}
                        <tr>
                            <td align="left" style="vertical-align: top"><span style="margin-left:50px">{{ vals.nama}}</span></td>
                            <td align="right" class="text-right" style="vertical-align: top">{{vals.saldo}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    {%endfor%}
                    <tr class="non-body">
                        <td align="left">
                            <b>Total Arus Kas</b>
                        </td>
                        <td align="right" class="text-right">
                            <b>{{ data.total_saldo }}</b>
                        </td>
                    </tr>
                    <tr class="non-body">
                        <td align="left">
                            <b>Saldo Awal</b>
                        </td>
                        <td align="right" class="text-right">
                            <b>{{ data.saldo_awal }}</b>
                        </td>
                    </tr>
                    <tr class="non-body">
                        <td align="left">
                            <b>Saldo Akhir</b>
                        </td>
                        <td align="right" class="text-right">
                            <b>{{ data.saldo_akhir }}</b>
                        </td>
                    </tr>
                    <tr class="non-body">
                        <td align="left">
                            <b>Penurunan / Kenaikan Kas</b>
                        </td>
                        <td align="right" class="text-right">
                            <b>{{ data.saldo_akhir - data.saldo_awal }}</b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>