<link href="{{ css }}" rel="stylesheet" type="text/css"/>
<div class="card-body">
    <div class="row header-laporan-wrapper">
        <div class="col-md-12">
            <center class="header-text">
                <h2 class="header-laporan">{{data.lokasi}}</h2>
                <h3 class="header-laporan">Buku Besar</h3>
                Periode {{ data.tanggal }}
                <br/>
                <!--                <br/>
                                Disiapkan Tanggal : {{ data.disiapkan }}
                                <br/>-->
            </center>
            <hr/>
        </div>
    </div><br/>
    {% for key, val in detail %}
    <div style="margin-bottom: 15px;">
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="text-align: left">
                    <b>Nama Akun :</b>
                    {{ val.akun }}
                </td>
                <td colspan="3" style="text-align: right">
                    <b>{{ val.klasifikasi }}</b>
                </td>
            </tr>
        </table>
        <div class="table-responsive">
            <table class="table table-hover table-laporan-border" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="width: 100px">
                            <b>TANGGAL</b>
                        </th>
                        <th style="width: 100px">
                            <b>REFF</b>
                        </th>
                        <th>
                            <b>URAIAN</b>
                        </th>
                        <th style="width: 100px">
                            <b>DEBIT</b>
                        </th>
                        <th style="width: 100px">
                            <b>KREDIT</b>
                        </th>
                        <th style="width: 100px">
                            <b>SALDO</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3">Saldo Awal</td>
                        <td align="right" class="text-right">{{}}</td>
                        <td align="right" class="text-right">{{}}</td>
                        <td align="right" class="text-right">{{ val.saldo_awal| number_format }}</td>
                    </tr>
                    {% for k, valdetail in val.detail %}
                    <tr>
                        <td align="center" class="text-center" style="vertical-align: top">{{ valdetail.tanggal|date('d-m-Y') }}</td>
                        <td align="center" style="vertical-align: top">{{ valdetail.kode }}</td>
                        <td style="vertical-align: top">{{ valdetail.keterangan }}</td>
                        <td align="right" class="text-right" style="vertical-align: top">{{ valdetail.debit | number_format }}</td>
                        <td align="right" class="text-right" style="vertical-align: top">{{ valdetail.kredit | number_format }}</td>
                        <td align="right" class="text-right" style="vertical-align: top">{{ valdetail.saldo_sekarang | number_format }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <b>Saldo Akhir</b>
                        </td>
                        <td align="right" class="text-right">
                            <b>{{ val.total_debit | number_format }}</b>
                        </td>
                        <td align="right" class="text-right">
                            <b>{{ val.total_kredit | number_format }}</b>
                        </td>
                        <td align="right" class="text-right">
                            <b>{{ val.total_saldo | number_format }}</b>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <br/>
    {% endfor %}
</div>
