<link href="{{ css }}" rel="stylesheet" type="text/css"/>
<div class="card-body" id="print" >

    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <center>
                    <h2 class="header-laporan">
                        LAPORAN JURNAL UMUM
                    </h2>
                    Lokasi : {{data.lokasi}}
                    <br>
                    Periode : {{data.tanggal}}
                    <br/>
                    Disiapkan Tanggal : {{data.disiapkan}}
                    <br/>
                </center>
                <hr/>
            </div>

        </div>
        <br/>
        <div>

            <div class="table-responsive">
                <table class="table table-hover table-laporan-border" style="border-collapse: collapse;">
                    <tr class="non-body"> 
                        <th width="80">
                            <b>
                                TANGGAL
                            </b>
                        </th>
                        <th width="80">
                            <b>
                                REFF
                            </b>
                        </th>
                        <th>
                            <b>
                                LOKASI
                            </b>
                        </th>
                        <th>
                            <b>
                                AKUN
                            </b>
                        </th>
                        <th>
                            <b>
                                KETERANGAN
                            </b>
                        </th>
                        <th width="100">
                            <b>
                                DEBIT
                            </b>
                        </th>
                        <th width="100">
                            <b>
                                KREDIT
                            </b>
                        </th>
                    </tr>
                    <tbody>
                        {%for key, val in detail%}
                        <tr>
                            <td align="center" class="text-center" style="vertical-align: top">
                                {{val.tanggal}}
                            </td>
                            <td align="left" style="vertical-align: top">
                                {{val.kode}}
                            </td>
                            <td align="left" style="vertical-align: top">
                                {{val.namaLokasi}}
                            </td>
                            <td style="vertical-align: top">
                                {%if val.debit == 0%}
                                <span style="margin-left:50px">{{val.kodeAkun}}{{val.namaAkun}}</span>
                                {%else%}
                                <span>{{val.kodeAkun}}{{val.namaAkun}}</span>
                                {%endif%}
                            </td>
                            <td>
                                {{val.keterangan}}
                            </td>
                            <td align="right" class="text-right" style="vertical-align: top">
                                {{val.debit}}
                            </td>
                            <td align="right" class="text-right" style="vertical-align: top">
                                {{val.kredit}}
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    <tr class="non-body">
                        <td align="right" class="text-center" colspan="5">
                            <b>
                                Total
                            </b>
                        </td>
                        <td align="right" class="text-right">
                            <b>
                                {{data.total_debit}}
                            </b>
                        </td>
                        <td align="right" class="text-right">
                            <b>
                                {{data.total_kredit}}
                            </b>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>