<link href="{{ css}}" rel="stylesheet" type="text/css"/>
<div class="card-body" id="print" ng-show="tampilkan">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <center>
                    <h2 class="header-laporan">LAPORAN AKTIFITAS</h2>
                    Lokasi : {{ data.lokasi}}
                    <br/>
                    Periode : {{ data.tanggal}}
                    <br/>
                    Disiapkan Tanggal : {{ data.disiapkan}}
                    <br/>
                </center>
            </div>
        </div>
        <br/>
        <div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-laporan table-white" style="border-collapse: collapse; width: 100%">
                    <thead>
                        <tr style="background-color: #263444">
                            <th>
                                <b>AKUN</b>
                            </th>
                            <th style="width: 100px">
                                <b>NOMINAL</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for key, val in detail%}
                        <tr style="background-color: #fff">
                            <td align="left" style="vertical-align: top" colspan="2">
                                <b>{{ val.nama}}</b>
                            </td>
                        </tr>
                        {%for k, vals in val.detail%}
                        {%if data.is_detail == 0 and vals.is_tipe == 1%}
                        <tr style="background-color: #fff">
                            <td align="left" style="vertical-align: top">{{ vals.nama | raw }}</td>
                            <td align="right" class="text-right" style="vertical-align: top">{{ vals.nominal | number_format }}</td>
                        </tr>
                        {%endif%}
                        {%if data.is_detail == 1%}
                        <tr style="background-color: #fff">
                            <td align="left" style="vertical-align: top">{{ vals.nama | raw }}</td>
                            <td align="right" class="text-right" style="vertical-align: top">{{ vals.nominal | number_format }}</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                        <tr style="background-color: #fff">
                            <td align="right" class="text-right" style="vertical-align: top">
                                <b>TOTAL {{ key|replace({'_': ' '}) }}</b>
                            </td>
                            <td align="right" class="text-right" style="vertical-align: top">
                                <b>{{ val.total | number_format }}</b>
                            </td>
                        </tr>
                        {%endfor%}
                        <tr style="background-color: #fff">
                            <td align="right">
                                {%if totalsemua >= 0%}
                                <b style="color:#327037">LABA</b>
                                {%else%}
                                <b style="color:red">RUGI</b>
                                {%endif%}
                            </td>
                            <td align="right" class="text-right">
                                {%if totalsemua >= 0%}
                                <b style="color: #327037">{{ totalsemua | number_format }}</b>
                                {%else%}
                                <b style="color:red">{{ (totalsemua * -1) | number_format}}</b>
                                {%endif%}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
