<link href="{{ css }}" rel="stylesheet" type="text/css"/>
<div class="card-body">
    <div class="row header-laporan-wrapper">
        <div class="col-md-12">
            <center>
                <h2 class="header-laporan">LAPORAN NERACA</h2>
                Periode : {{ tanggal }}
                <br/>
                Disiapkan Tanggal : {{ disiapkan }}
                <br/>
            </center>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-laporan" style="border-collapse: collapse;">
            <tbody>
                <tr>
                    <th colspan="3">
                        <span class="text-blue-neraca">Harta</span>
                    </th>
                </tr>
            </tbody>
            {% for key, val in modelHarta.list %}
            <tbody>
                <tr>
                    <td colspan="3" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                </tr>
                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important; width: 195px;">{{ row.kode}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;">{{ row.nama}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">{{ row.saldo_rp}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important">Total {{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        <span style="color: #0055ef;">{{ val.total}}</span>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            <tbody>
                <tr>
                    <th colspan="2">
                        <span class="text-black-neraca">Total Harta</span>
                    </th>
                    <th style="text-align: right">
                        <span class="text-black-neraca"  style="font-weight: bold;">{{ modelHarta.total}}</span>
                    </th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th colspan="3">
                        <span class="text-blue-neraca">Kewajiban</span>
                    </th>
                </tr>
            </tbody>
            {% for key, val in modelKewajiban.list %}
            <tbody >
                <tr>
                    <td colspan="3" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                </tr>
                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important; width: 195px;">{{ row.kode}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;">{{ row.nama}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">{{ row.saldo_rp}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important">Total {{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        <span style="color: #0055ef;">{{ val.total}}</span>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            <tbody>
                <tr>
                    <th colspan="2">
                        <span class="text-blue-neraca">Total Kewajiban</span>
                    </th>
                    <th style="text-align: right">
                        <span class="text-blue-neraca"  style="font-weight: bold;">{{ modelKewajiban.total}}</span>
                    </th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th colspan="3">
                        <span class="text-blue-neraca">Modal</span>
                    </th>
                </tr>
            </tbody>
            {% for key, val in modelModal.list %}
            <tbody>
                <tr>
                    <td colspan="3" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                </tr>
                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important; width: 195px;">{{ row.kode}}</td>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;">
                        {{ row.nama}}
                        <span>{{ row.laba}}</span>
                    </td>
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">{{ row.saldo_rp}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important">Total {{ val.nama}}</span>
                    </td>
                    <td style="text-align: right">
                        <span style="color: #0055ef;">{{ val.total}}</span>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
            <tbody>
                <tr>
                    <th colspan="2">
                        <span class="text-blue-neraca">Total Modal</span>
                    </th>
                    <th style="text-align: right">
                        <span class="text-blue-neraca"  style="font-weight: bold;">{{ modelModal.total}}</span>
                    </th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th colspan="2">
                        <span class="text-black-neraca">Total Kewajiban dan Modal</span>
                    </th>
                    <th style="text-align: right">
                        <span class="text-black-neraca" style="font-weight: bold;">{{ modelKewajibanModal.total}}</span>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>