<link href="{{ css}}?t=51" rel="stylesheet" type="text/css"/>
<style>
    @media print
    {
        table tr td {
            background-color: white;
        }
    }
</style>
<div class="card-body">
    <div class="row header-laporan-wrapper">
        <div class="col-md-12 relative-div">
            <center>
                <img src="{{img}}" class="absolute-div-center" style="width:200px">
                <h2 class="header-laporan">{{lokasi}}</h2>
                <h3 class="header-laporan">Laporan Neraca Periode</h3>
                <p style="margin-top:3px">Periode {{tanggal}}</p>
                <!--<br/>-->
            </center>
            <!--<hr/>-->
        </div>
    </div>
    <!--<br/>-->
    <div class="table-responsive">
        <table class="table table-laporan-border table-white" style="border-collapse: collapse;width:100%">
            <tbody>
                <tr class="non-body">
                    <th align="left" class="border-right-half">
                        <span class="text-blue-neraca">Harta</span>
                    </th>
                    {%for key, val in arr_tanggal%}
                    <th align="right" class="border-right-half">
                        <span class="text-blue-neraca">{{val.nama}}</span>
                    </th>
                    {%endfor%}
                </tr>
            </tbody>
            {% for key, val in modelHarta.list %}
            <tbody>
                {%if is_detail == 0%}
                <tr ng-if="form.is_detail == 0">
                    <td style="padding-left: 25px!important;" colspan="{{1 + jumlah_tanggal}}">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                    {%for k, v in val.total%}
                    <td style="text-align: right">
                        {%if v != 0%}
                        <span style="color: #0055ef;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span style="color: #0055ef;">-</span>
                        {%endif%}
                    </td>
                    {%endfor%}
                </tr>
                {%endif%}
                {%if is_detail == 1%}
                <tr>
                    <td colspan="{{1 + jumlah_tanggal}}" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                </tr>

                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important;">{{ row.kode}} - {{row.nama}}</td>
                    {%for k, v in row.saldo_rp2%}
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if v != 0%}
                        Rpss{{ v | number_format(0, ',', '.')}}
                        {%elseif v == 0%}
                        -
                        {%endif%}

                    </td>
                    {%endfor%}
                </tr>
                {% endfor %}
                <tr>
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important">Total {{ val.nama}}</span>
                    </td>
                    {%for k, v in val.total%}
                    <td style="text-align: right">
                        {%if v != 0%}
                        <span style="color: #0055ef;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span style="color: #0055ef;">-</span>
                        {%endif%}
                    </td>
                    {%endfor%}
                </tr>
                {%endif%}
            </tbody>
            {% endfor %}
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-black-neraca">Total Harta</span>
                    </th>
                    {%for k, v in modelHarta.total%}
                    <th style="text-align: right">
                        {%if v != 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span class="text-black-neraca"  style="font-weight: bold;">-</span>
                        {%endif%}
                    </th>
                    {%endfor%}
                </tr>
            </tbody>
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-blue-neraca">Kewajiban</span>
                    </th>
                    {%for key, val in arr_tanggal%}
                    <th align="right">
                        <span class="text-blue-neraca">{{val.nama}}</span>
                    </th>
                    {%endfor%}
                </tr>
            </tbody>
            {% for key, val in modelKewajiban.list %}
            <tbody >
                {%if is_detail == 0%}
                <tr ng-if="form.is_detail == 0">
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                    {%for k, v in val.total%}
                    <td style="text-align: right">
                        {%if v != 0%}
                        <span style="color: #0055ef;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span style="color: #0055ef;">-</span>
                        {%endif%}
                    </td>
                    {%endfor%}
                </tr>
                {%endif%}
                {%if is_detail == 1%}
                <tr>
                    <td colspan="{{1 + jumlah_tanggal}}" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                </tr>
                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important;">{{ row.kode}} - {{row.nama}}</td>
                    {%for k, v in row.saldo_rp2%}
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if v != 0%}
                        Rp{{ v | number_format(0, ',', '.')}}
                        {%elseif v == 0%}
                        -
                        {%endif%}
                    </td>
                    {%endfor%}
                </tr>
                {% endfor %}
                <tr>
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important">Total {{ val.nama}}</span>
                    </td>
                    {%for k, v in val.total%}
                    <td style="text-align: right">
                        {%if v != 0%}
                        <span style="color: #0055ef;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span style="color: #0055ef;">-</span>
                        {%endif%}
                    </td>
                    {%endfor%}
                </tr>
                {%endif%}
            </tbody>
            {% endfor %}
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-blue-neraca">Total Kewajiban</span>
                    </th>
                    {%for k, v in modelKewajiban.total%}
                    <th style="text-align: right">
                        {%if v != 0%}
                        <span class="text-blue-neraca"  style="font-weight: bold;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span class="text-blue-neraca"  style="font-weight: bold;">-</span>
                        {%endif%}
                    </th>
                    {%endfor%}
                </tr>
            </tbody>
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-blue-neraca">Modal</span>
                    </th>
                    {%for key, val in arr_tanggal%}
                    <th align="right">
                        <span class="text-blue-neraca">{{val.nama}}</span>
                    </th>
                    {%endfor%}
                </tr>
            </tbody>
            {% for key, val in modelModal.list %}
            <tbody>
                {%if is_detail == 0%}
                <tr ng-if="form.is_detail == 0">
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                    {%for k, v in val.total%}
                    <td style="text-align: right">
                        {%if v != 0%}
                        <span style="color: #0055ef;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span style="color: #0055ef;">-</span>
                        {%endif%}
                    </td>
                    {%endfor%}
                </tr>
                {%endif%}
                {%if is_detail == 1%}
                <tr>
                    <td colspan="{{1 + jumlah_tanggal}}" style="padding-left: 25px!important;">
                        <span style="color: #0055ef;">{{ val.nama}}</span>
                    </td>
                </tr>
                {% for keys, row in val.detail %}
                <tr>
                    <td ng-if="row.is_tipe == 0" style="text-align: left;padding-left: 45px!important;">{{ row.kode}} - {{row.nama}}</td>
                    {%for k, v in row.saldo_rp2%}
                    <td ng-if="row.is_tipe == 0" style="text-align: right;">
                        {%if v != 0%}
                        Rp{{ v | number_format(0, ',', '.')}}</td>
                    {%elseif v == 0%}
                    Rp{{ v | number_format(0, ',', '.')}}</td>
                    {%endif%}
                    {%endfor%}
                </tr>
                {% endfor %}
                <tr>
                    <td style="padding-left: 25px!important;">
                        <span style="color: #0055ef;padding-left: 20px!important">Total {{ val.nama}}</span>
                    </td>
                    {%for k, v in val.total%}
                    <td style="text-align: right">
                        {%if v != 0%}
                        <span style="color: #0055ef;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span style="color: #0055ef;">-</span>
                        {%endif%}
                    </td>
                    {%endfor%}
                </tr>
                {%endif%}
            </tbody>
            {% endfor %}
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-blue-neraca">Total Modal</span>
                    </th>
                    {%for k, v in modelModal.total%}
                    <th style="text-align: right">
                        {%if v != 0%}
                        <span class="text-blue-neraca"  style="font-weight: bold;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span class="text-blue-neraca"  style="font-weight: bold;">0</span>
                        {%endif%}
                    </th>
                    {%endfor%}
                </tr>
            </tbody>
            <tbody>
                <tr class="non-body">
                    <th align="left">
                        <span class="text-black-neraca">Total Kewajiban dan Modal</span>
                    </th>
                    {%for k, v in modelKewajibanModal.total%}
                    <th style="text-align: right">
                        {%if v != 0%}
                        <span class="text-black-neraca" style="font-weight: bold;">Rp{{ v | number_format(0, ',', '.')}}</span>
                        {%elseif v == 0%}
                        <span class="text-black-neraca" style="font-weight: bold;">-</span>
                        {%endif%}
                    </th>
                    {%endfor%}
                </tr>
            </tbody>
        </table>
    </div>
</div>
