<link href="{{ css}}?t=123" rel="stylesheet" type="text/css"/>
<div class="card-body" id="print" ng-show="tampilkan">
    <div align="left">
        <div class="row">
            <div class="col-md-12 relative-div">
                <center>
                    <img src="{{data.img}}" class="absolute-div-center" style="width:200px">
                    <h2 class="header-laporan">{{data.lokasi}}</h2>
                    <h3 class="header-laporan">Laporan Perubahan Modal</h3>
                    <p style="margin-top:3px">Periode {{ data.tanggal}}</p>
                    <!--<br/>-->
                </center>
            </div>
        </div>
        <!--<br/>-->
        <div>
            <div class="table-responsive">
                <table class="table table-hover table-laporan-border" style="border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td><b>Modal Awal</b></td>
                            <td class="align-right"><b>{{detail.saldo_awal_modal| number}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Modal Disetor</td>
                            <td class="align-right">{{detail.saldo_periode_modal| number}}</td>
                        </tr>
                        <tr>
                            <td>Prive</td>
                            <td class="align-right">{{detail.saldo_periode_prive| number}}</td>
                        </tr>
                        <tr>
                            <td>Laba Rugi Berjalan</td>
                            <td class="align-right">{{detail.saldo_laba_rugi| number}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><b>Modal Akhir</b></td>
                            <td class="align-right"><b>{{(detail.saldo_awal_modal + detail.saldo_periode_modal + detail.saldo_periode_prive + detail.saldo_laba_rugi) | number}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
