<link href="{{ css }}" rel="stylesheet" type="text/css"/>
<div class="card-body">
    <div class="row header-laporan-wrapper">
        <div class="col-md-12">
            <center>
                <h2 class="header-laporan">{{data.lokasi}}</h2>
                <h3 class="header-laporan">Laporan Rekap Hutang</h3>
                <p style="margin-top:3px">Periode {{data.tanggal}}</p>
                <br/>
            </center>
            <hr/>
        </div>
    </div><br/>
    <table class="table table-responside table-striped table-hover table-print table-laporan" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th width="80">
                    <b>KODE</b>
                </th>
                <th >
                    <b>SUPPLIER</b>
                </th>
                <th width="100">
                    <b>SALDO AWAL</b>
                </th>
                <th width="100">
                    <b>DEBIT</b>
                </th>
                <th width="100">
                    <b>KREDIT</b>
                </th>
                <th width="100">
                    <b>SALDO AKHIR</b>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for key, val in detail%}
            <tr>
                <td align="center" class="text-center" style="vertical-align: top">{{ val.kode}}</td>
                <td align="left" style="vertical-align: top">{{ val.nama}}</td>
                <td align="right" class="text-right" style="vertical-align: top">
                    {%if(val.saldoAwal >= 0)%}
                    <span>{{ val.saldoAwal }}</span>
                    {%else%}
                    <span>({{ val.saldoAwal * -1 }})</span>
                    {%endif%}
                </td>
                <td align="right" class="text-right" style="vertical-align: top">{{ val.debit }}</td>
                <td align="right" class="text-right" style="vertical-align: top">{{ val.kredit }}</td>
                <td align="right" class="text-right" style="vertical-align: top">
                    {%if(val.saldoAkhir >= 0)%}
                    <span>{{ val.saldoAkhir }}</span>
                    {%else%}
                    <span>({{ val.saldoAkhir * -1 }})</span>
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <b>Saldo Akhir</b>
                </td>
                <td align="right" class="text-right">
                    {%if(data.totalSaldoAwal >= 0)%}
                    <b>{{ data.totalSaldoAwal }}</b>
                    {%else%}
                    <b>({{ data.totalSaldoAwal * -1 }})</b>
                    {%endif%}
                </td>
                <td align="right" class="text-right">
                    {%if(data.totalDebit >= 0)%}
                    <b>{{ data.totalDebit }}</b>
                    {%else%}
                    <b>({{ data.totalDebit * -1 }})</b>
                    {%endif%}
                </td>
                <td align="right" class="text-right">
                    {%if(data.totalKredit >= 0)%}
                    <b>{{ data.totalKredit }}</b>
                    {%else%}
                    <b>({{ data.totalKredit * -1 }})</b>
                    {%endif%}
                </td>
                <td align="right" class="text-right">
                    {%if(data.totalSaldoAkhir >= 0)%}
                    <b>{{ data.totalSaldoAkhir }}</b>
                    {%else%}
                    <b>({{ data.totalSaldoAkhir * -1 }})</b>
                    {%endif%}
                </td>
            </tr>
        </tfoot>
    </table>
</div>