<style type="text/css">
    body{
        font-family: monospace;
    }
    table.table, table.table td , table.table th {
        border: 1px solid black;
        font-family: monospace;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 2px 6px 2px;
        vertical-align: bottom;
        display: table-cell;
    }
    table.noborder, table.noborder td , table.noborder th {
        border-left: 1px solid black;
        border-right: 1px solid black;
        font-family: monospace;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 2px 6px 2px;
    }
    table.noborders, table.noborders td , table.noborders th {
        font-family: monospace;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 2px 6px 2px;
    }

    table.noborder-l, table.noborder-l td, table.noborder-l tr {

        font-family: monospace;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 2px 6px 2px;
    }
    table.noborder-l, table.noborder-l tr:first-child td:first-child {
        border: 1px solid black;
        padding: 5px 2px 2px;
    }
    .tengah{
        text-align: center;
    }
    .angka{
        text-align: right;
    }
    table{display: table-cell;border-collapse: collapse;width: 100%;}
    .border th{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        line-height: 16px;
    }
    .border td{
        /*margin-top: 5px; */
        /*border-top: 1px solid #000;*/
    }
    .borders th{
        border-bottom: 1px solid #000;
    }
    /*.footer table{
        border-collapse: collapse;
    }
    .footer table, .footer td{
        border: 1px solid black;
    }*/
    .footer td{
        padding: 10px;
        font-size: 12px;  
    }
    .footer .text-2x{
        font-weight: 500;


        vertical-align: top;
    }
    .footer .text-3x{
        text-align: left;
        font-size: 12px; 

    }
    .footer .text-1x{

        font-weight: 400;

        vertical-align: bottom;
    }
    .footer .text{
        text-align: left;
        font-size: 12px;      
        vertical-align: bottom;
    }

    tr{
        padding-bottom: 18px;
    }

    hr{
        color: red;
        background-color: red;
    }
</style>
<table border="1">
    <tr>
        <td colspan="3" style="width: 25%" class="tengah">
            {{data.m_lokasi_id.nama}}
            <br>
            {{data.no_transaksi}}
            <br>
            {{data.tanggal | date('d M Y')}}
        </td>
        <td colspan="6" style="width: 50%" class="tengah">JURNAL UMUM</td>
        <td colspan="3" style="width: 25%" class="tengah">
            Dicetak Pada :
            <br>
            {{data.tanggalsekarang}}
        </td>
    </tr>
    <tr>
        <td colspan="12">Keterangan :  {{data.keterangan}}</td><br><br><br>
    </tr>
    <tr>
        <!--<td style="width: 7%">No. </td>-->
        <td style="width: 18%"class="tengah" colspan="3">Perkiraan</td>
        <td class="tengah" colspan="5">Keterangan</td>
        <td class="tengah" colspan="2">Debit</td>
        <td class="tengah" colspan="2">Kredit</td>
    </tr>
    {% if detail %}
    {% for val in detail %}
    <tr >
        <!--<td class="tengah" style="width: 7%">{{val.no}}</td>-->
        <td class="tengah" style="width: 18%" colspan="3">{{val.m_akun_id.kode}} - {{val.m_akun_id.nama}}</td>
        <td colspan="5" style="width: 40%">{{val.keterangan}}</td>
        <td class="angka" colspan="2">{{val.debit}}</td>
        <td class="angka" colspan="2">{{val.kredit}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr >
        <!--<td class="tengah" style="width: 7%"></td>-->
        <td class="tengah" style="width: 18%" colspan="3"></td>
        <td colspan="5" style="width: 40%"></td>
        <td class="angka" colspan="2"></td>
        <td class="angka" colspan="2"></td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="8" style="width: 50%">Total
        </td>
        <td class="angka" colspan="2" >{{data.total_debit}}</td>
        <td class="angka" colspan="2" >{{data.total_kredit}}</td>
    </tr>
    <tr style="border-bottom:hidden">
        <td class="tengah" colspan="4" style="border-right:hidden">Menyetujui </td>
        <td class="tengah" colspan="4" style="border-right:hidden">Menerima </td>
        <td class="tengah" colspan="4">Petugas </td>
    </tr>
    <tr>
        <td colspan="12">
            <br>  
            <br>  
            <br>  
            <br>  
        </td>
    </tr>
</table>
</div>
