<div class="animated fadeIn">
    <div ng-controller="l_labarugiCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Laba Rugi</strong>
                <!-- <button class="btn btn-default btn-sm pull-right" ng-click="modalSetting()" ng-if="user.akses.pengecualian_labarugi">
                    <i class="fa fa-gear"></i>
                    Setting Pengecualian
                </button> -->
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input ng-change="clearData()" class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions" ng-model="form.tanggal" placeholder="Periode" type="text"/>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.m_lokasi_id" theme="bootstrap" ng-disabled="is_view">
                                                <ui-select-match placeholder="Pilih Lokasi">{{ $select.selected.kode + " - " + $select.selected.nama}}</ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listLokasi | filter : $select.search">{{ val.nama_lengkap}}</ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-3">
                                        <div class="col-md-12">
                                            <label class="i-checks col-form-label-sm">
                                                <input ng-disabled="is_view" ng-model="SembunyikanSub" ng-true-value="1" ng-false-value="0" type="checkbox"/>
                                                <i></i>
                                                Sembunyikan Sub Akun
                                            </label>
                                        </div>
                                        <!-- <label class="col-sm-3 col-form-label-sm">Detail</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group">
                                                <label class="btn btn-success btn-sm ng-untouched ng-valid ng-not-empty active ng-dirty ng-valid-parse" ng-model="SembunyikanSub" ng-disabled="is_view" uib-btn-radio="1"><i class="fa fa-check" ng-if="SembunyikanSub == 1"></i>Ya</label>
                                                <label class="btn btn-success btn-sm ng-untouched ng-valid ng-not-empty ng-dirty" ng-model="SembunyikanSub" ng-disabled="is_view" uib-btn-radio="0"><i class="fa fa-check" ng-if="SembunyikanSub == 0"></i>Tidak</label>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-header card-header-white">
                <div class="pull-right">
                    <button class="btn btn-outline-success btn-sm" ng-click="view(1, 0)">
                        <i class="fa fa-file"></i>
                        Excel
                    </button>
                    <button class="btn btn-outline-primary btn-sm" ng-click="view(0, 1)">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </div>
            </div>
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row header-laporan-wrapper">
                        <div class="col-md-12 relative-div">
                            <center>
                                <img src="{{data.img}}" class="absolute-div-center" style="height: 90px">
                                <h2 class="header-laporan">{{data.lokasi}}</h2>
                                <h3 class="header-laporan">Laporan Laba Rugi</h3>
                                <p class="mt-15px">Periode {{ data.tanggal}}</p>
                            </center>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-laporan-border" style="border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>
                                        <b>AKUN</b>
                                    </th>
                                    <th width="100" class="align-center">
                                        <b>NOMINAL</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vals in detail.PENDAPATAN.detail" ng-if="SembunyikanSub == 1 && vals.is_tipe == 1">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span>{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="vals in detail.PENDAPATAN.detail" ng-if="SembunyikanSub == 0">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span ng-if="vals.is_tipe == 0">{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>TOTAL PENDAPATAN USAHA</b>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>{{ detail.PENDAPATAN.total | number }}</b>
                                    </td>
                                </tr>
                                <tr ng-repeat="vals in detail.PENDAPATAN_DILUAR_USAHA.detail" ng-if="SembunyikanSub == 1 && vals.is_tipe == 1">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span>{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="vals in detail.PENDAPATAN_DILUAR_USAHA.detail" ng-if="SembunyikanSub == 0" ng-dblclick="viewBukuBesar(vals)">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span ng-if="vals.is_tipe == 0">{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>TOTAL PENDAPATAN DILUAR USAHA</b>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>{{ detail.PENDAPATAN_DILUAR_USAHA.total | number }}</b>
                                    </td>
                                </tr>
                                <tr ng-repeat="vals in detail.BEBAN.detail" ng-if="SembunyikanSub == 0 && vals.is_tipe == 1">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span>{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="vals in detail.BEBAN.detail" ng-if="SembunyikanSub == 0" ng-dblclick="viewBukuBesar(vals)">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span ng-if="vals.is_tipe == 0">{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>TOTAL BEBAN USAHA</b>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>{{ detail.BEBAN.total | number }}</b>
                                    </td>
                                </tr>

                                <tr ng-repeat="vals in detail.BEBAN_DILUAR_USAHA.detail" ng-if="SembunyikanSub == 1 && vals.is_tipe == 1">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span>{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="vals in detail.BEBAN_DILUAR_USAHA.detail" ng-if="SembunyikanSub == 0" ng-dblclick="viewBukuBesar(vals)">
                                    <td align="left" style="vertical-align: top">
                                        <div ng-bind-html="vals.nama" style="float:left"></div>&nbsp;<span class="" ng-click="viewBukuBesar(vals)"><i class="fa fa-external-link"></i></span>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <span ng-if="vals.is_tipe == 0">{{ vals.nominal | number }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>TOTAL BEBAN DILUAR USAHA</b>
                                    </td>
                                    <td align="right" class="text-right" style="vertical-align: top">
                                        <b>{{ detail.BEBAN_DILUAR_USAHA.total | number }}</b>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td align="right">
                                        <b style="color:green; font-size: 18px" ng-if="data.total >= 0">
                                            LABA
                                        </b>
                                        <b style="color:red; font-size: 18px" ng-if="data.total < 0">RUGI</b>
                                    </td>
                                    <td align="right" class="text-right">
                                        <b style="color: green; font-size: 18px" ng-if="data.total >= 0">
                                            {{ data.total | number }}
                                        </b>
                                        <b style="color:red; font-size: 18px" ng-if="data.total < 0">{{ data.total * -1 | number }}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
